<html layout:decorate="~{layout_page}" xmlns:layout="http://www.w3.org/1999/xhtml">
<style>

</style>
<th:block layout:fragment="content">
  <div class="layout-contents">
    <!-- Page Title -->
    <div class="page-title-wrap">
      <div class="left">
        <h2>진행 현황</h2><a id="toggleButton" onclick="toggleSearchWrap()"><img src="/images/icon/ico-down.png"
                                                                             alt="알람 아이콘"></a>
        <!--<a title="북마크" class="bookmark toggle">
            내메뉴
        </a>-->
      </div>
      <ul class="page-navi">
        <li><img src="/images/icon/ico-nav-home.svg" alt="홈아이콘"></li>
        <li>주문 현황</li>
      </ul>
    </div>

    <!-- Select -->
    <div class="search-wrap" id="searchWrap" style="display: none">
      <ul>
        <li>
          <select title="지역" id="spworkcd" name="spworkcd"
                  onchange="updateCompcdOptions(); saveSelectedSandanData(); ">
            <!-- 지역 옵션을 JavaScript에서 동적으로 채움 -->
          </select>
          <input type="hidden" id="spworknm" name="spworknm">
        </li>
        <li>
          <select title="산단" id="spcompcd" name="spcompcd"
                  onchange="updatePlancdOptions(); saveSelectedSandanData();">
            <!-- 산단 옵션을 JavaScript에서 동적으로 채움 -->
          </select>
          <input type="hidden" id="spcompnm" name="spcompnm">
        </li>
        <li>
          <select title="시설" id="spplancd" name="spplancd"
                  onchange="updatePlannm(); saveSelectedSandanData()">
            <!-- 시설 옵션을 JavaScript에서 동적으로 채움 -->
          </select>
          <input type="hidden" id="spplannm" name="spplannm">
        </li>
      </ul>
      <!-- <div class="card-btn-wrap">
           <a title="탭설정" class="btn btn-popup-open" data-popup="popup1">
               <img src="/images/icon/btn-setting.svg" alt="설정아이콘">
           </a>
       </div>-->
    </div>
      <div class="tab-contents">
        <section class="tab-item" style="height: 840px;">
          <div class="section-top">
            <div class="search-wrap">
              <dl>
                <dt>
                  조회기간<span class="eq">*</span>
                </dt>
                <dd>
                  <ul class="date-box">
                    <li>
                      <input type="date" id="startDate" name="startDate">
                      <label for="startDate" class="hide">시작일</label>
                    </li>
                    <li>
                      <input type="date" id="endDate" name="endDate">
                      <label for="endDate" class="hide">종료일</label>
                    </li>
                  </ul>
                </dd>
              </dl>
              <dl>
                <dt>
                  <label for="searchtketnm">
                    진행구분<span class="eq">*</span>
                  </label>
                </dt>
                <dd>
                  <div class="srch-box">
                    <select id="searchtketnm" name="searchtketnm">
                      <option value="전체">전체</option>
                    </select>
                  </div>
                </dd>
              </dl>
              <dl>
                <dt>&nbsp;</dt>
                <dd>
                  <li>
                    <a class="btn btn-delete" title="검색" id="searchButton1" onclick="">
                      <!--                                        class 쓰이는 곳 찾고 없으면 클래스명 수정하기-->
                      <img src="/images/icon/btn-srch.svg" alt="검색 아이콘">
                      검색
                    </a>
                  </li>
                </dd>
              </dl>
            </div>
          </div>

          <div class="container-fluid">
            <div class="chart-wrap" style="justify-content: normal">
              <div id="chartHolder1" style="width:600px; height:400px; margin-left: 20px">
              </div>
            </div>
            <div>
              <p id="selectedItem"></p>
              <div id="theGrid" style="max-height:319px"></div>
            </div>
          </div>
        </section>
      </div> <!--//tab-contens end-->
    </div> <!--//tab-wrap end-->
  </div> <!--//layout-contents end -->


  <footer>
    <p>Copyrightⓒ 0000 corp. All rights reserved.</p>
  </footer>

  <div id="chartModal" class="modal" style="opacity:100">
    <div class="modal-content">
      <span class="close">&times;</span>
      <div id="modalChartHolder" style="width: 100%; height: 500px;"></div> <!-- 차트를 보여줄 모달의 div -->
    </div>
  </div>
</th:block>

<th:block layout:fragment="scripts">
  <th:block th:replace="/common/columns_setting :: columns_setting"></th:block>
  <script type="text/javascript">
    var theGrid;

    document.readyState === 'complete' ? init() : window.onload = init;

    <!-- 초반 페이지 진입시 그리드 바인딩 끝-->
    function init() {
      fetchListData();
      createTab1Charts();
    }

    function fetchListData() {
      let data2 = [];

      // 임시 데이터 배열 정의
      var tempData = [];
      for (var i = 0; i < 10; i++) {
        tempData.push({
          rownum: i + 1,
          orderdate: '',
          estimatedate: '',
          state: '',
          compnm: '',
          manager: '',
          managernum: '',
          orderprice: '',
          resdate: '',
          other: ''
        });
      }

      viewdata = new wijmo.collections.CollectionView(data2);

      if (!theGrid) {
        // 데이터 그리드에 바인딩
        theGrid = new wijmo.grid.FlexGrid('#theGrid', {
          autoGenerateColumns: false,
          showMarquee: true,
          columns: [
            {binding: 'rownum', header: '순번', width: 80, align: 'center'},
            {binding: 'orderdate', header: '주문일자', width: '*', minWidth: 100, align: 'center'},
            {binding: 'estimatedate', header: '견적일자', width: '*', minWidth: 100, align: 'center'},
            {binding: 'state', header: '진행구분', width: '*', minWidth: 100, align: 'center'},
            {binding: 'compnm', header: '업체명', width: '*', minWidth: 100, align: 'center'},
            {binding: 'manager', header: '담당자', width: '*', minWidth: 100, align: 'center'},
            {binding: 'managernum', header: '연락처', width: '*', minWidth: 100, align: 'center'},
            {binding: 'orderprice', header: '금액', width: '*', minWidth: 100, align: 'center'},
            {binding: 'resdate', header: '출고일자', width: '*', minWidth: 100, align: 'center'},
            {binding: 'other', header: '비고', width: '*', minWidth: 100, align: 'center'}
          ],
          itemsSource: tempData
        });
        // 선택이 변경될 때, 현재 항목 업데이트
        theGrid.rowHeaders.columns.splice(0, 1);  //맨 앞에 헤더부분 없애기
        new FlexGridContextMenu(theGrid);
        window.downloadFileName = '티켓현황';
      } else {
        // 이미 FlexGrid이 존재하는 경우, 데이터만 업데이트
        theGrid.itemsSource = viewdata;
      }
    }

    function createTab1Charts() {
      let chartVars = "rMateOnLoadCallFunction=chartReadyHandler"; // 필요시 사용될 변수

      let chartsTab1 = [
        {name: "chart1", vars: chartVars}
      ];

      chartsTab1.forEach(chart => {
        let chartID = chart.name.replace(/\D/g, ""); // 숫자만 추출
        rMateChartH5.create(chart.name, "chartHolder" + chartID, chart.vars, "250%", "100%");
      });
    }

    // 콜백 함수 정의
    function chartReadyHandler(id) {
      let chartIndex = id.replace(/\D/g, "");
      // chart1에 대한 레이아웃과 데이터 설정
      if (chartIndex === "1") {
        var layoutStr =
                '<rMateChart>'
                + '<DateFormatter id="dateFmt" formatString="M월"/>'
                + '<Bar3DChart showDataTips="true">'
                + '<verticalAxis>'
                + '<CategoryAxis id="vAxis" categoryField="cat"/>'
                + '</verticalAxis>'
                + '<horizontalAxis>'
                + '<DateTimeAxis displayLocalTime="true" id="hAxis" labelUnits="months" minimum="2032/01/01" maximum="2032/12/31"/>'
                + '</horizontalAxis>'
                + '<series>'
                + '<Bar3DSeries minField="date1" xField="date2" labelPosition="inside" insideLabelField="cat" color="#ffffff" insideLabelYOffset="-2">'
                + '<showDataEffect>'
                + '<SeriesSlide direction="right" duration="1000"/>'
                + '</showDataEffect>'
                + '</Bar3DSeries>'
                + '</series>'
                + '<verticalAxisRenderers>'
                + '<Axis3DEdgeRenderer axis="{vAxis}" showOuterStroke="false">'
                + '<axisStroke>'
                + '<Stroke color="#bbbbbbb"/>'
                + '</axisStroke>'
                + '</Axis3DEdgeRenderer>'
                + '</verticalAxisRenderers>'
                + '<horizontalAxisRenderers>'
                + '<Axis3DEdgeRenderer axis="{hAxis}" showOuterStroke="false" formatter="{dateFmt}">'
                + '<axisStroke>'
                + '<Stroke color="#bbbbbbb"/>'
                + '</axisStroke>'
                + '</Axis3DEdgeRenderer>'
                + '</horizontalAxisRenderers>'
                + '<backgroundElements>'
                + '<GridLines direction="vertical" showBorderStroke="false"/>'
                + '</backgroundElements>'
                + '</Bar3DChart>'
                + '</rMateChart>';

        var chartData = [
          {"cat": "판넬수출", "date1": "2032/01/21", "date2": "2032/03/15"},
          {"cat": "특장기타", "date1": "2032/01/01", "date2": "2032/02/15"},
          {"cat": "특장기타", "date1": "2032/04/01", "date2": "2032/06/30"},
          {"cat": "특장일반", "date1": "2032/02/01", "date2": "2032/04/30"},
         /* {"cat": "제목5", "date1": "2032/06/01", "date2": "2032/09/30"},
          {"cat": "제목6", "date1": "2032/02/01", "date2": "2032/07/15"},
          {"cat": "제목7", "date1": "2032/09/01", "date2": "2032/10/30"},
          {"cat": "제목8", "date1": "2032/10/15", "date2": "2032/11/30"}*/
        ];
        document.getElementById(id).setLayout(layoutStr);
        document.getElementById(id).setData(chartData);
      }
    }
  </script>
</th:block>
</html>