<html layout:decorate="~{layout_page}" xmlns:layout="http://www.w3.org/1999/xhtml">
<style>

</style>
<th:block layout:fragment="content">

  <!--- (레이아웃) Contents 영역 -->
  <div class="layout-contents">
    <!-- Page Title -->
    <div class="page-title-wrap">
      <div class="left">
        <h2>주문 의뢰</h2><a id="toggleButton" onclick="toggleSearchWrap()"><img src="/images/icon/ico-down.png"
                                                                             alt="알람 아이콘"></a>
        <!--                <a href="#" title="북마크" class="bookmark toggle">-->
        <!--                    내메뉴-->
        <!--                </a>-->
      </div>
      <ul class="page-navi">
        <li><img src="/images/icon/ico-nav-home.svg" alt="홈아이콘"></li>
        <li>주문 의뢰</li>
        <li>주문 의뢰</li>
      </ul>
    </div>
    <!-- Select -->
    <div class="search-wrap" id="searchWrap" style="display: none">
      <ul>
        <li>
          <select title="지역" id="spworkcd" name="spworkcd"
                  onchange="updateCompcdOptions(); saveSelectedSandanData(); ">
            <!-- 지역 옵션을 JavaScript에서 동적으로 채움 -->
          </select>
          <input type="hidden" id="spworknm" name="spworknm">
        </li>
        <li>
          <select title="산단" id="spcompcd" name="spcompcd"
                  onchange="updatePlancdOptions(); saveSelectedSandanData();">
            <!-- 산단 옵션을 JavaScript에서 동적으로 채움 -->
          </select>
          <input type="hidden" id="spcompnm" name="spcompnm">
        </li>
        <li>
          <select title="시설" id="spplancd" name="spplancd"
                  onchange="updatePlannm(); saveSelectedSandanData()">
            <!-- 시설 옵션을 JavaScript에서 동적으로 채움 -->
          </select>
          <input type="hidden" id="spplannm" name="spplannm">
        </li>
      </ul>
    </div>
    <div class="tab-wrap">
      <ul class="tab-links">
        <input type="hidden" id="checkdtParam" name="checkdtParam" th:value="${checkdt}"/>
        <li>
          <a href="#tab1" title="목록" id="listTabLink">주문 등록</a>
        </li>
        <li>
          <a href="#tab2" title="등록">주문의뢰현황</a>
        </li>
      </ul>
      <div class="tab-contents">
        <!--      주문등록 탭 시작       -->
        <!-- Section -->
        <section class="tab-item" id="tab1">
          <div class="section-top">
            <div class="title-wrap">
              <h3>주문의뢰</h3>
            </div>
            <div class="button-wrap">
              <ul>
                <li>
                  <a class="btn btn-excell" title="신규등록">
                    <img src="/images/icon/ico-plus.svg" alt="등록 아이콘">
                    신규등록
                  </a>
                </li>
                <li>
                  <a class="btn btn-file" title="파일 첨부" data-popup="popup1"
                     onclick="showPopup(this)">
                    파일 첨부<span>(0)</span>
                  </a>
                </li>
                <li>
                  <a class="btn btn-delete" title="삭제">
                    <img src="/images/icon/ico-delete.svg" alt="삭제 아이콘">
                    삭제
                  </a>
                </li>
                <li>
                  <a class="btn btn-edit" id="btnSave" title="저장">
                    <img src="/images/icon/ico-save.svg" alt="저장 아이콘">
                    저장
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="table-wrap">
            <table class="write-table">
              <caption>티켓 테이블</caption>
              <tbody>
              <tr>
                <th>
                  <label for="requester">
                    주문일자
                  </label>
                </th>
                <td>
                  <input type="date" id="requester" name="tketcrdtm" value="2024-10-29" disabled>
                </td>
                <th>
                  <label for="tketcrdtm">
                    사업자번호
                  </label>
                </th>
                <td>
                  <input type="text" id="tketcrdtm" name="tketrcpnm">
                </td>
              </tr>
              <tr>
                <th>
                  <label for="tkettypenm">
                    담당자
                  </label>
                </th>
                <td>
                  <input type="text" id="tkettypenm" name="tkettypenm" style="width: 100%">
                </td>
                <th>
                  <label for="tketnm">
                    연락처
                  </label>
                </th>
                <td>
                  <input type="text" id="tketnm" name="tketnm" style="width: 100%">
                </td>
              </tr>
              <tr>
                <th>
                  <label for="requesterhp">
                    주소
                  </label>
                </th>
                <td>
                  <input type="text" id="requesterhp" name="requesterhp">
                </td>
                <th>
                  <label for="tketrcpnm">
                    납품희망일
                  </label>
                </th>
                <td>
                  <input type="date" id="tketrcpnm" name="tketcrdtm">
                </td>
              </tr>
              <tr>
                <th>
                  <label for="priority">
                    제목
                  </label>
                </th>
                <td>
                  <input type="date" id="priority" name="priority">
                </td>
              </tr>
              <tr>
                <th>
                  <label for="mytextarea">
                    내용
                  </label>
                </th>
                <td colspan="3">
                  <div class="textarea-box">
                    <textarea id="mytextarea"></textarea>
                    <!--<p class="text-count" id="text-count">0/100</p>-->
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </section>
        <!--       주문등록 탭 종료   / 주문 의뢰현황 시작       -->
        <!-- Section -->
        <section class="tab-item" id="tab2" style="height: 832px;">
          <div class="section-top">
            <div class="search-wrap">
              <dl>
                <dt>
                  조회일자<span class="eq">*</span>
                </dt>
                <dd>
                  <ul class="date-box">
                    <li>
                      <input type="date" id="startDate" name="startDate">
                      <label for="startDate" class="hide">시작일</label>
                    </li>
                    <li>
                      <input type="date" id="endDate" name="endDate">
                      <label for="endDate" class="hide">종료일</label>
                    </li>
                  </ul>
                </dd>
              </dl>
              <dl>
                <dt>
                  <label for="searchtketnm">
                    품명<span class="eq">*</span>
                  </label>
                </dt>
                <dd>
                  <div class="srch-box">
                    <input type="text" id="searchtketnm" name="searchtketnm" class="input-srch"
                           placeholder="품명" style="border-radius: 5px;">
                    <!--                                        <a href="#a" class="btn-srch" title="검색" onclick="searchData()"></a>-->
                  </div>
                </dd>
              </dl>
              <dl>
                <dt>&nbsp;</dt>
                <dd>
                  <li>
                    <a class="btn btn-delete" title="검색" id="searchButton1" onclick="">
                      <!--                                        class 쓰이는 곳 찾고 없으면 클래스명 수정하기-->
                      <img src="/images/icon/btn-srch.svg" alt="검색 아이콘">
                      검색
                    </a>
                  </li>
                </dd>
              </dl>
            </div>
          </div>
            <div class="container-fluid">
              <p id="selectedItem"></p>
              <div id="theGrid" style="max-height: 714px"></div>
            </div>
        </section>
        <!--      주문 의뢰 현황 종료          -->
      </div> <!--//tab-contens end-->
    </div> <!--//tab-wrap end-->
  </div> <!--//layout-contents end -->
  <footer style="margin-top:5px;">
    <p>Copyrightⓒ 0000 corp. All rights reserved.</p>
  </footer>
  <div style="height: 10px"></div>

  <div class="modal">
    <div class="popup-wrapper w700" id="popup1">
      <div class="popup-title">
        <h3>파일 업로드</h3>
        <a title="팝업닫기" onclick="closePopup('popup1')" class="btn-popup-close">
          <img src="/images/icon/btn-popup-close.svg" alt="닫기">
        </a>
      </div>
      <div class="popup-contents">
        <div class="table-wrap">
          <table class="write-table">
            <caption>전기안전 점검 첨부파일</caption>
            <colgroup>
              <col class="wp20">
              <col class="wp80">
            </colgroup>
            <tbody>
            <tr>
              <th>
                첨부파일
              </th>
              <td>
                <div id="uploadComponent1" class="upload-component">
                  <div class="upload-filebox">
                    <img src="/images/icon/ico-fileupload.svg" alt="업로드아이콘">
                    <a class="btn" title="파일업로드">파일 업로드</a>
                    <input type="file" id="fileInput1" class="fileInput" multiple>
                    <p>Maximun upload file size <span>1GiB</span></p>
                  </div>

                  <div class="upload-filelist">
                    <div class="title">
                      <h5>Files (0)</h5>
                      <a title="Delete all" class="btn-file-deleteall">Delete all</a>
                    </div>
                    <ul class="filelist" id="filelist">
                    </ul>
                  </div>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="popup-button">
          <button type="button" onclick="closePopup('popup1')" class="btn-navy">확인</button>
        </div>
      </div>
    </div>
  </div>
</th:block>

<th:block layout:fragment="scripts">
  <th:block th:replace="/common/columns_setting :: columns_setting"></th:block>
  <script src="https://cdn.tiny.cloud/1/vz0rv2lnngp83gy5arhr4hzhqyr3z08rnj8zq7mx8c0otwi7/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
  <script>
    tinymce.init({
      language: "ko_KR", //한글판으로 변경
      selector: "#mytextarea", // TinyMCE를 적용할 textarea 요소의 선택자를 지정
      plugins: "paste image imagetools", // 'paste', 'image', 'imagetools' 플러그인 추가
      height: 500,
      width: 900,
      toolbar: "undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | outdent indent | image", // 'image' 버튼 툴바에 추가
      paste_data_images: true, // 이미지 붙여넣기 설정 활성화
      file_picker_types: 'image', // TinyMCE에서 이미지를 선택할 때, 이미지 파일만 선택 (옵션 : media, file 등)
      images_upload_handler(blobInfo, success) { // 이미지를 업로드하는 핸들러 함수
        // blobInfo : TinyMCE에서 이미지 업로드 시 사용되는 정보를 담고 있는 객체
        const file = new File([blobInfo.blob()], blobInfo.filename());
        const fileName = blobInfo.filename();

        if (fileName.includes("blobid")) {
          success(URL.createObjectURL(file));
        } else {
          imageFiles.push(file);
          success(URL.createObjectURL(file)); // Blob 객체의 임시 URL을 생성해 이미지 미리보기 적용
        }
      }
    });
  </script>
  <script type="text/javascript">

    var theGrid;

    document.readyState === 'complete' ? init() : window.onload = init;

    <!-- 초반 페이지 진입시 그리드 바인딩 끝-->
    function init() {
      fetchListData();

      //clearForm();

      // spworkcd, spcompcd, spplancd의 값이 변경될 때마다 데이터 다시 로드
      // document.getElementById('spworkcd').addEventListener('change', fetchListData);
      // document.getElementById('spcompcd').addEventListener('change', fetchListData);
      // document.getElementById('spplancd').addEventListener('change', fetchListData);
      // document.getElementById('spworkcd').addEventListener('change', clearForm);
      // document.getElementById('spcompcd').addEventListener('change', clearForm);
      // document.getElementById('spplancd').addEventListener('change', clearForm);
    }

    function fetchListData() {
      let data2 = [];

      // 임시 데이터 배열 정의
      var tempData = [];
      for (var i = 0; i < 10; i++) {
        tempData.push({
          rownum: i + 1,
          orderdate: '',
          compnm: '',
          managernm: '',
          managernum: '',
          title: '',
          name: '',
          orderprice: '',
          swmanager: '',
          resdate: '',
          state: '',
        });
      }

      // $.ajax({
      //     url: '/api/ticket/ticket/read',
      //     type: 'GET',
      //     async: false,
      //     success: function (data) {
      //         data2 = data.data;
      //     }
      // })

      viewdata = new wijmo.collections.CollectionView(data2);

      if (!theGrid) {
        // 데이터 그리드에 바인딩
        theGrid = new wijmo.grid.FlexGrid('#theGrid', {
          autoGenerateColumns: false,
          showMarquee: true,
          columns: [
            {binding: 'rownum', header: '순번', width: 80, align: 'center'},
            {binding: 'orderdate', header: '주문일자', width: '*', minWidth: 100, align: 'center'},
            {binding: 'compnm', header: '업체명', width: '*', minWidth: 100, align: 'center'},
            {binding: 'managernm', header: '담당자', width: '*', minWidth: 100, align: 'center'},
            {binding: 'managernum', header: '연락처', width: '*', minWidth: 100, align: 'center'},
            {binding: 'title', header: '제목', width: '*', minWidth: 100, align: 'center'},
            {binding: 'name', header: '품명', width: '*', minWidth: 100, align: 'center'},
            {binding: 'orderprice', header: '견적금액', width: '*', minWidth: 100, align: 'center'},
            {binding: 'swmanager', header: '수주담당', width: '*', minWidth: 100, align: 'center'},
            {binding: 'resdate', header: '납품예정일', width: '*', minWidth: 100, align: 'center'},
            {binding: 'state', header: '진행구분', width: '*', minWidth: 100, align: 'center'}
          ],
          itemsSource: tempData
        });
        // 선택이 변경될 때, 현재 항목 업데이트
        theGrid.rowHeaders.columns.splice(0, 1);  //맨 앞에 헤더부분 없애기
        new FlexGridContextMenu(theGrid);
        window.downloadFileName = '티켓현황';
      } else {
        // 이미 FlexGrid이 존재하는 경우, 데이터만 업데이트
        theGrid.itemsSource = viewdata;
      }
    }

    // 초기화
    function clearForm() {
      const date = new Date();
      const today = date.toISOString().split('T')[0];
      document.getElementById('tketcrdtm').value = today;

      document.getElementById('requester').value = '[[${username}]]';

      ['tketrem'].forEach(id => {
        document.getElementById(id).value = '';
      });

    }
  </script>

</th:block>
</html>

